<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">איך זה עובד</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>שלב ראשון:</h4>
                                    <h4 class="subheading">מצטרפים לבוט</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">שולחים הודעה מפורטת בבוט. מתי ולאן. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>שלב שני:</h4>
                                    <h4 class="subheading">  הפעלת מערכת הAI  </h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> הבינה המלאכותית שלנו תמצא מהר מאוד את השליחים המתאימים   ביותר לביצוע המשימה ותערוך מכרז מהיר בינהם לקבלת המחיר הטוב ביותר</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>שלב שלישי:   </h4>
                                    <h4 class="subheading"> קבלת העבודה על ידי השליחה</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>  שלב רביעי</h4>
                                    <h4 class="subheading">  איסוף בזמן ובמקום המתאים לכם</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4> שלב חמישי</h4>   
                                    <h4 class="subheading"> מסירת המשלוח במהירות</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"> מתי שקבעתם. בזמן שקבעתם, המשלוח ימסר ללא תקלות. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>רוצים גם?
                                    <br>הצטרפו
                                    <br>להצלחה!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>